<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zahraa Yarnn</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Orders</h1>
    <hr>
    <% allOrders.forEach(order => { %>
       <% let total = 0; %>
       <% order.products.forEach(item => { %>
            <p>Product Name: <%= item.product.productName %></p>
            <p>Price: <%= item.product.price %> BD</p>
            <p>Quantity: <%= item.quantity %></p>
            <% total += item.product.price * item.quantity; %>
        <% }); %>
        <p>Total: <%= total %> BD</p>
        <hr>
    <% }); %>
</body>
</html>