<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1> Cart</h1>
    <% cartItems.forEach(item => { %>
  <p>Product: <%= item.productName %> | Quantity: <%= item.quantity %> | Price: <%= item.price %> BD | Total: <%= item.price * item.quantity %> BD</p>
  <form action="/cart/update/<%= item.productId %>?_method=PUT" method="post">
      <label for="quantity">Quantity:</label>
      <select id="quantity" name="quantity" onchange="this.form.submit()">
          <% for (let i = 1; i <= 10; i++) { %>
              <option value="<%= i %>" <%= item.quantity == i ? 'selected' : '' %>><%= i %></option>
          <% } %>
      </select>

  </form>
  <form action="/cart/remove/<%= item.productId %>" method="post">
      <button type="submit">Remove</button>

  </form>
<% }) %>
<form action="/orders/checkout" method="post">
  <button type="submit">Place Order</button>
</form>

</body>
</html>