<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zahraa Yarnn</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>All products</h1>
    <% allProducts.forEach(product => { %>
        <img src="<%= product.image %>" alt="Product Image" style="max-width:150px;">
        <p> <%= product.productName %></p>
        <p>Price: <%= product.price %> BD</p>
        <a href="/products/<%= product._id  %>">details</a>
        <% }) %>

</body>
</html>