<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zahraa Yarnn</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>Product Details</h1>
    <p>Product Name: <%= foundProduct.productName %></p>
    <p>Price: <%= foundProduct.price %></p>
    <p>Description: <%= foundProduct.description %></p>

    <form action="/cart/add/<%= foundProduct._id %>" method="post">
        <label for="quantity">Quantity:</label>
        <select id="quantity" name="quantity">
            <% for (let i = 1; i <= 10; i++) { %>
                <option value="<%= i %>"><%= i %></option>
            <% } %>
        </select>
        <button type="submit">Add to Cart</button>
    </form>
   
    <% if ( userRole.role === 'admin') { %>
      <a href="/products/<%= foundProduct._id  %>/edit">Update</a>
    <% } %>

</body>
</html>